body,
html {
    margin: 0;
    padding: 0;
    background-color: #262626;
    scroll-behavior: smooth;
}


/* custom font family */
@font-face {
    src: url(../font/Couriers.ttf);
    font-family: Couriers;
}

@font-face {
    src: url(../font/DotGothic16-Regular.ttf);
    font-family: dot;
}

@font-face {
    src: url(../font/TYPEWR_B.TTF);
    font-family: type;
}

/* custom font family end */


#particles-js {

    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    height: 100%;
}




/* navigation bar css start  */
.navbar {
    position: absolute;
    left: 98%;
    top: 8PX;
    transform: translate(-100%);
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

ul {
    position: relative;
    display: flex;
    padding: 0 20px;
    margin: 0;
    list-style: none;
}


ul li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    font-family: Couriers;
}

ul li:hover a {
    color: #ff3c0c;
    border-radius: 10px;
    transform: scale(1.1);
}

/* navigation bar css end  */


/* profile picture css start  */
.profilePic {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);

}

.myPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-user-select: none;
}

.circleImg {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -10%;
    top: -10%;
    -webkit-user-select: none;
    filter: brightness(100%);
    animation: anim 25s infinite linear;
}

/* circle rotation animation start */
@keyframes anim {
    0% {
        transform: rotate(0deg);

    }

    25% {
        transform: rotate(90deg);

    }

    50% {
        transform: rotate(180deg);

    }

    75% {
        transform: rotate(270deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

/* circle rotation animation start */
/* profile picture css end  */

/* user information start  */
.info {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    color: rgb(255, 255, 255);

}

.info h1 {
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

/* The typewriter cursor effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ff3c0c;
    }
}

.info h2 {
    font-family: Couriers;
    font-size: 35px;
    text-shadow: 1px 2px 5px black;
}

/* user information end  */

/* social icons css in home page */
.social-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    border: 3px solid rgba(255, 60, 12, 1);
    border-radius: 30px;

}

.icons a {
    padding: 0 25px;
    font-size: 40px;
    transition: all 0.2s;
    color: white;
}

.facebook:hover a {
    color: #3b5998;
}

.instagram:hover a {

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.youtube:hover a {
    color: #bb0000;
}

.github:hover a {
    color: black;
}

/* social icons css in home page end */

/*  title heading css  start  */
.project,
.socialHD,
.aboutus,
.footer {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    background: rgb(38, 38, 38);
    background: linear-gradient(90deg, rgba(38, 38, 38, 1) 0%, rgba(255, 60, 12, 1) 30%, rgba(255, 60, 12, 1) 70%, rgba(38, 38, 38, 1) 100%);
    color: white;
}

/*  title heading css end  */

/* project information css start  */

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
    overflow: hidden;
}

.card {
    position: relative;
    margin: 0;
    width: 400px;
    height: 330px;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

.box {
    width: 90%;
    position: relative;
    height: 100%;
    transition: all 0.4s ease;
}

.box:hover {
    width: 100%;
}

.card .text span img {
    position: absolute;
    top: 0;
    width: 360px;
    height: 250px;
    opacity: 0.7;
    z-index: 0;
    transition: all 0.4s ease;
}

.card:hover .text span img {
    width: 400px;
    opacity: 1;

}

.card .text h1 {
    position: absolute;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 60, 12, 1) 30%, rgba(255, 60, 12, 1) 70%, rgba(0, 0, 0, 0) 100%);
    font-weight: 600;
    font-size: 25px;
    left: -20px;
    transition: all 0.4s ease;
}

.card:hover h1 {
    left: 20px;
    color: #ffffff;
    text-shadow: -3px 3px 6px rgb(0, 0, 0);
}

.card .text p {
    position: relative;
    top: 140px;
    left: 30px;
    opacity: 0;


}

.box:hover p {

    color: white;
    opacity: 1;
    text-shadow: -1px 1px 4px black;
}

.card .text a {
    position: absolute;
    top: 200px;
    left: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.4s ease;
}

.card:hover a {
    color: rgb(0, 0, 0);
    left: 20px;
    text-decoration: underline rgb(0, 0, 0);
    text-shadow: -1px 1px 4px black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

/* project information end  */



/* about css start  */

.about {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
}

.Acard {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(0, 0, 0, 0.14);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #ff3c0c 10%, #f78606 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.icon i {
    font-size: 36px;
}

.Acard .title {

    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

.Acard:hover {
    height: 270px;
}

.Acard .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;

}

.Acard:hover .text {
    opacity: 1;
    transition: all 0.3s ease;
    max-height: 40px;
}

.Acard:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
}

.Acard:hover .icon i {

    background: linear-gradient(90deg, #ff3c0c, #f78606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
}

/* about end */

/* copyright css */
.footer {
    font-size: 15px;
}

.footer i {
    color: red;
}

/* copyright end */